@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=JetBrains+Mono:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  /* font-family: "Archivo Narrow", sans-serif; */
}

body {
  min-height: 100vh;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

.sub-container {
  background: rgb(229, 229, 229);
  display: flex;
  width: 100%;
  width: 100%;
  flex-direction: column;
}

.top-container {
  background: pink;
  display: flex;
  height: 50%;
}

.bottom-container {
  background: palegreen;
  height: 50%;
}
