@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=JetBrains+Mono:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  /* font-family: "Archivo Narrow", sans-serif; */
}

body {
  background: rgb(229, 229, 229);
}

.container {
  display: flex;
}

.top-container {
  background: pink;
  width: 50%;
  height: 50%;
}
