.new-patient-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
}

.back-button {
  border-radius: 6px;
  padding: 10px;
  background: #4dcfdf;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.new-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: wheat;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  height: 80%;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3px;
}

.submission-button {
  cursor: pointer;
}
