.patients-container {
  margin-top: 50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 75%;
  position: relative;
  box-shadow: 0 5px 12px rgb(101, 98, 98);
  display: flex;
}

.todays-patients {
  position: absolute;
  top: -30px;
  left: 5px;
  font-weight: bold;
  font-size: 19px;
}
