.back-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background: orange;
}

.new-patient-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
}
