.appt-consult-container {
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  margin-top: 20px;
  position: relative;
  box-shadow: 0 7px 15px rgb(101, 98, 98);
  display: flex;
  justify-content: center;
}

.consult-appt {
  position: absolute;
  top: -25px;
  left: 5px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.consult-form {
  display: flex;
  flex-direction: column;
  background: wheat;
  margin: 15px;
}

.label {
  margin: 15px;
}
